body {
  font-family: Georgia;
  color: #888;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

h1,h2, h1 a {
  text-decoration: none;
  color: #555;
}

a {
  color: #68b;
}

a:hover {
  text-decoration: none;
}

p {
  max-width: 35em;
}

#container {
  display: inline-block;
  text-align: left;
  padding-bottom: 30px;
}

.section {
  display: inline-block;
  text-align: left;
  padding: 0 20px;
  vertical-align: top;
}

.about {
  width: 200px;
}

input[type=text], input[type=password] {
  color: #555;
  font-size: 20px;
  font-family: Georgia;
  line-height: 30px;
}

.feed_entry, .flash {
  border: 2px solid #CCC;
  padding: 8px;
  margin-top: 10px;
}
